{% extends 'base.html'%}
{% block content %}
<div>
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-xs-12 pt-5">
                <div class="card border-0 p-3 shadow-lg text-center">
                    <h2>What is SummarizeIt?</h2>
                    <p class="lead">SummarizeIt is an indexing search platform based on <a href="https://wikipedia.readthedocs.io/en/latest/">WikipediaAPI-python</a> and <a href="https://github.com/P-py/Wikipedia-Search-Tool">Wikipedia-Search-Tool</a> modules and APIs. Having its web version based on a <a href="https://www.python.org/">python</a> Backend with <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a> and a Frontend based on JavaScript and <a href="https://getbootstrap.com/">Bootstrap-CSS</a>. Through the SummarizeIt platform it is possible to search for any article that is available within the <a href="https://www.wikipedia.org/">Wikipedia</a> database and receive, through this, a summary/synthesis of it.</p>
                    <p class="lead text-muted">To know more deeply about the project, go click on the "Project" link on the top navigation bar.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}