{% extends 'base.html'%}
{% block content %}
<div>
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12 col-xs-12 pt-5">
                <div class="card border-0 p-3 shadow-lg text-center">
                    <h2>What is SummarizeIt?</h2>
                    <p class="lead">SummarizeIt is a web-based searching platform implemented in python that can search and summarize any topic avaliable in the WikipediaAPI.</p>
                    <p class="lead text-muted">To know more deeply about the project, go click on the "Project" link on the top navigation bar.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}